---
BasedOnStyle: WebKit
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"External/'
    Priority: 3
  - Regex: '^<(SDL3|glm)/'
    Priority: 3
  - Regex: '^"'
    Priority: 2
  - Regex: '^<'
    Priority: 4
IncludeIsMainRegex: '$'
NamespaceIndentation: None # Manually set to None to follow WebKit's coding guidelines
SortIncludes: CaseSensitive
TabWidth: 4
UseTab: ForIndentation
